<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("813d4107-6efc-4f76-9927-4142beff226a");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
